<div id="<%= dom_id user %>">
  <p>
    <strong>Id:</strong>
    <%= user.id %>
  </p>
  <p>
    <strong>Username:</strong>
    <%= user.Username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.Email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.Password %>
  </p>
</div>
